<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Exchange</h1>
            <p>Here is some content for the exchange page.</p>
        </div>
        <div class="col-10">

            <h4>Currency to Crypto</h4>
            <form method="POST" action="/curr_to_cry">

                <div class="input-group">
                    <input class="form-control" placeholder="Amount" name="amount" value="<%= exchData.currToCry.amount %>">
                    <select class="form-select" aria-label="Select Currency Type" name="curr">
                        <option selected value="<%= exchData.currToCry.currency %>"><%= exchData.currToCry.currency %></option>

                        <% for (var i=1; i < currList.length; i++) { %>
                            <option value="<%= currList[i].value %>">
                                <%= currList[i].name %>
                            </option>
                            <% } %>
                    </select>
                    <span class="input-group-text">TO</span>
                    <select class="form-select" aria-label="Select Crypto Type" name="cry">
                        <option selected value="<%= exchData.currToCry.crypto %>"><%= exchData.currToCry.crypto %></option>
                        <% for (var i=0; i < cryList.length; i++) { %>
                            <option value="<%= cryList[i] %>">
                                <%= cryList[i] %>
                            </option>
                            <% } %>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit" value="accept">Exchange</button>
                    <span class="input-group-text">
                        <%= exchData.currToCry.value %>
                    </span>
                    <span class="input-group-text">
                        <%= exchData.currToCry.crypto %>
                    </span>
                </div>
            </form>
            <br>
            <h4>Crypto to Currency</h4>
            <!-- create another input group for the second currency -->
            <form method="POST" action="/cry_to_curr">

                <div class="input-group">
                    <input class="form-control" placeholder="Amount" name="amount" value="<%= exchData.cryToCurr.amount %>">

                    <select class="form-select" aria-label="Select Crypto Type" name="cry">
                        <option selected value="<%= exchData.cryToCurr.crypto %>"><%= exchData.cryToCurr.crypto %></option>

                        <% for (var i=0; i < cryList.length; i++) { %>
                            <option value="<%= cryList[i] %>">
                                <%= cryList[i] %>
                            </option>
                            <% } %>
                    </select>
                    <span class="input-group-text">TO</span>

                    <select class="form-select" aria-label="Select Currency Type" name="curr">
                        <option selected value="<%= exchData.cryToCurr.currency %>"><%= exchData.cryToCurr.currency %></option>

                        <% for (var i=1; i < currList.length; i++) { %>
                            <option value="<%= currList[i].value %>">
                                <%= currList[i].name %>
                            </option>
                            <% } %>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit" value="accept">Exchange</button>
                    <span class="input-group-text">
                        <%= exchData.cryToCurr.value %>
                    </span>
                    <span class="input-group-text">
                        <%= exchData.cryToCurr.currency %>
                    </span>
                </div>
            </form>

        </div>

        <div class="col-2">
            <!-- <h4>News</h4> -->
            <a href="/news" class="btn btn-danger w-100">News</a>

        </div>

    </div>
</div>